@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Archivo+Black&display=swap');
:root { 
    --headings: #0677A1;
    --text: #19e244;
    --background: #080808;
    --headings-font-family: 'Antic Slab', serif;
    --text-font-family:  'Archivo Black', sans-serif;
     }
     

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    text-align: center;
    font-family: var(--text-font-family);
    color: var(--text);
}

h2 {
    color: #78244C;
    font-family: var(--headings-font-family);
    font-size: 2.5rem;
    padding-bottom: 1rem;
}




p {
    line-height: 2;
}

hr{
    border: dotted var(--text) 16px;
    border-bottom: none;
    margin: 5rem auto;
    width: 10%;
    
}

.middle-container {
    margin: 5rem 0;
}

.image-cropper {
    width: 450px;
    height: 450px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
}

.profile-img {

    margin: 0 auto;
    margin-left: -15%;
    height: 100%;
    width: auto;
}


h1{
    font-family: var(--headings-font-family);
}




.skill-row{
    width: 50%;
    text-align: left;
    margin: 2rem auto;
    overflow: hidden;
    
}

.code-img{
    width: 25%;
    float: left;margin-right: 2rem;
    position: relative;
}


.hobby-img{
    width: 25%;
    float: right;
}

.btn {

    background-color: red;
    color: white;
    padding: 0.5em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .btn:hover {
    background-color: #555;
  }
  
  .btn:active {
    background-color: black;
  }
  
  .btn:visited {
    background-color: #ccc;
  }
  
  /* Non-Demo Styles */
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }


  .bottom{
      display: inline-block;
      margin: 1rem;
      
  }

  .li-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .li-wrapper i {
      margin-right: 1rem;
  }

  .li-wrapper a {
        text-decoration: none;
        color: var(--text);
  }


  .copyright{
      margin: 5rem;
  }